[Unit]
Description=Cardano Node - Topology Updater - restart cnode.service for topology update

[Service]
Type=oneshot
WorkingDirectory={{ cndeploy_cnode_dir }}/scripts
ExecStart=/bin/bash -c "/bin/systemctl try-restart cnode.service 2>/dev/null || /usr/bin/systemctl try-restart cnode.service 2>/dev/null"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cnode-tu-restart
