[Unit]
Description=Cardano Node - Topology Updater - node alive push

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory={{ cndeploy_cnode_dir }}/scripts
ExecStart=/bin/bash -l -c "exec {{ cndeploy_cnode_dir }}/scripts/topologyUpdater.sh -f"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cnode-tu-push
