{
  "Producers": [
    {% for item in cndeploy_relay_nodes %}
    {
      "addr": "{{item.addr}}",
      "port": {{item.port}},
      "valency": {{item.valency}}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
