{
  "Producers": [
    {% for item in cndeploy_bp_topology_producers %}
    {
      "addr": "{{ item.addr }}",
      "port": {{ item.port|default([3000]) }},
      "valency": {{ item.valency|default([1]) }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
