*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% if cndeploy_blacklist_ip|default("") is not none %}
{% for bl_ip in cndeploy_blacklist_ip %}
-A INPUT -s {{ bl_ip }} -j DROP
-A OUTPUT -d {{ bl_ip }} -j DROP
{% endfor %}
{% endif %}
{% if groups['all']|default("") is not none %}
{% for node in groups['all'] %}
{% if node.cndeploy_node_type == "relay" %}
-A INPUT -p tcp -s {{ node.cndeploy_node_ip }} --dport {{ node.cndeploy_node_port }} -m conntrack --ctstate NEW -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}
{% if cndeploy_whitelist_ip|default("") is not none %}
{% for wl_ip in cndeploy_whitelist_ip %}
-A INPUT -p tcp -s {{ wl_ip }} -m conntrack --ctstate NEW -j ACCEPT
{% endfor %}
{% endif %}
-A INPUT -p tcp -s {{ master_ip }} --dport 22 -m conntrack --ctstate NEW -j ACCEPT
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7
COMMIT
