*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% if cndeploy_blacklist_ip|default("")|length > 0 %}
{% for bl_ip in cndeploy_blacklist_ip %}
-A INPUT -s {{ bl_ip }} -j DROP
-A OUTPUT -d {{ bl_ip }} -j DROP
{% endfor %}
{% endif %}
{% if cndeploy_relay_nodes_ip|default("")|length > 0 %}
{% for relay_ip in cndeploy_relay_nodes_ip %}
-A INPUT -p tcp -s {{ relay_ip }} --dport {{ cndeploy_node_port }} -m conntrack --ctstate NEW -j ACCEPT
{% endfor %}
{% endif %}
{% if cndeploy_management_ip|default("")|length > 0 %}
{% for mng_ip in cndeploy_management_ip %}
-A INPUT -p tcp -s {{ mng_ip }} --dport 22 -m conntrack --ctstate NEW -j ACCEPT
{% endfor %}
{% endif %}
-A INPUT -p tcp -s {{ master_ip }} --dport 22 -m conntrack --ctstate NEW -j ACCEPT
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7
COMMIT
